#main{
	#img-div{
		background-color: brown;
		
		#image{
			max-width:20%;
			height:auto;
			margin: 20px;
			min-width: 100px;
		}
		
		#img-caption{
			color:white;
			margin:5px;

		}
	}
	#tribute-info{
		margin: 2% 10%;	}
	
	h1{
		color: brown;
	}
	
}